<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        main {
            height: 100vh;
            display: flex;
            justify-content: center;    /* 좌우 기준 */
            align-items: center;        /* 상하 기준 */
            flex-direction: column;     /* 자식요소 수직정렬 */
        }
        main > button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <main>
        <!--<button onclick="location.href='/jpa/memberList?page=0&size=2';">JPA Member List</button>-->

        <!-- <button th:onclick=" 'location.href=\'' + @{/jpa/memberList( page=0, size=#{paging.size} ) } + '\';'">JPA Member List</button> -->

        <button th:onclick=" 'location.href=\'' + @{/jpa/memberList( page=0 ) } + '\';'">JPA Member List</button>

        <button onclick="location.href='/jpa/memberWrite';">JPA Member Registration</button>
    </main>
</body>
</html>