<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member List</title>
</head>
<body>

    <div>
        <h2>memberList</h2>
        <p><a href="/">Main</a>현재 <span th:text="${#lists.size(members)}">10</span>명의 회원정보가 등록되었습니다. </p>

        <!--    Search Form start    -->
        <form style="padding:10px; border: 1px solid; display: flex; justify-content: flex-end; width: 650px;"
            th:action="@{/jpa/memberList}" method="get">
            <label for="searchKeyword">Name : </label>
            <input text="text" id="searchKeyword" name="searchKeyword">
            <button type="submit">Search</button>
        </form>

        <table border="1">
            <thead>
                <tr>
                    <th width="50"></th>
                    <th>Name</th>
                    <th>Id</th>
                    <th>Phone</th>
                    <th>Edit</th>
                    <th>Del</th>
                    <th>Del</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <th th:text="${member.num}">1</th>
                    <th><a href="#" th:href="@{/jpa/memberDetail( num=${member.num} )}" th:text="${member.name}">홍길동</a></th>
                    <th th:text="${member.id}">mr.hong</th>
                    <th th:text="${member.phone}">010-1111-5555</th>
                    <th><a href="#" th:href="@{/jpa/memberWrite( num=${member.num} )}">수정</a></th>
                    <th><a href="#" th:href="@{/jpa/memberDelete( num=${member.num} )}">삭제(바로삭제)</a></th>
                    <th><a href="#none" th:onclick="btnDel( [[ ${member.num} ]] );">삭제(확인 후 삭제)</a></th>
                </tr>
            </tbody>
        </table>
    </div>

    <p>
        총 레코드 갯수 <span th:text="${members.totalElements}">4</span> /
        현재 페이지 <span th:text="${members.number + 1}">1</span> /
        <!--  ${members.pageable.pageNumber} 이렇게 사용하는 경우도 있음.      -->

        총 페이지 <sapn th:text="${members.totalPages}">5</sapn>
    </p>

    <ul style="list-style: none;">

        <li>
            <th:block th:if="${members.pageable.pageNumber + 1 } == 1">
                Previous
            </th:block>
            <th:block th:unless="${members.pageable.pageNumber + 1 } == 1">
                <a href="#" th:href="@{/jpa/memberList(page=${members.pageable.pageNumber - 1 }, size=#{paging.size} )}">Previous</a>
            </th:block>
        </li>

        <li>/</li>

        <li>
            <th:block th:if="${members.number+1} == ${members.totalPages}">
                Next
            </th:block>
            <th:block th:unless="${members.number+1} == ${members.totalPages}">
                <a href="#" th:href="@{/jpa/memberList(page=${members.number + 1 }, size=#{paging.size})}">Next</a>
            </th:block>
        </li>
    </ul>

    <script>
        function btnDel( num ) {
            // 컨펌 처리
            if (confirm(num +"번 회원을 정말 삭제하시겠습니까?") == true) {
                location.href='/jpa/memberDelete?num=' + num;
            } else {
                return;
            }
        }
    </script>
</body>
</html>