<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>th block</title>
</head>
<body>


    <th:block th:if="${#strings.equals(account, '회원')}">
      <h2>Welcome!</h2>
    </th:block>
    <th:block th:unless="${#strings.equals(account, '회원')}">
      <h2>Nice to meet you!</h2>
    </th:block>

    <!--  th:with 는 변수를 저장할 수 있게 해주는 Thymeleaf 문법  -->
    <th:block th:with="test = ${#strings.equals(account, '회원')}"></th:block>
    <th:block th:unless="${test}">
        <button>회원가입하기</button>
    </th:block>

</body>
</html>